
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

html, body {
    width: 100%;
    height: 100vh;
    
    background-color: #f0f0f0;
    font-weight: 300;

    background-color: #23AD79;
    background-image: url(/assets/Made\ with\ insMind-Gemini_Generated_Image_rgbid8rgbid8rgbi.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}
body{
    display: block;
    flex-direction: column;
  }

header nav {
    width: 100%;
    height: 3.5rem;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
}


header nav a .logo {
    display: flex;
    align-items: center;
    width: 10rem;
    padding: 2px;

    margin-left: 100px;
}
header nav a .logo:hover {
    transform: scale(1.05);
    cursor: pointer;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-right: 10rem;
    justify-content: space-around;
    align-items: center; 
}

header nav ul li a {
    text-decoration: none;
    color: #535353;
    font-size: 1.1rem;

    gap: 0 4rem;
    padding: 0.5rem 0.5rem;
}
header nav ul li a:hover {
    color: #23AD79;
    border-bottom: 2px solid #23AD79;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    backdrop-filter: blur(10px);
    height: 100vh;
    position: relative;


}
main h1{
    font-size: 20px;
    margin-bottom: 30px;
    color: #3c3c3cc9;

}

main form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 30px;

    background-color: #ffffff5a;
    border-radius: 20px;
    width: 30%;
    box-shadow: #535353;

    

    
}
main form input, placeholder{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
}

main form .conteiner{
    display: flex;
    padding: 5px;
    gap: 10px;

    label, input{
        margin-right: 5px;
    }
    #fone, #data-nascimento{
        color: brown;
    }
}

main form .date-fone label{
    font-size: 12px;
}

main form .gen, input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    

    font-size: 15px;
}
main form .gen{
    display: flex;
    flex-direction: column;
}
main form .gen span{
    display: flex;
}

